:root {
    --primary-white: #ffffff;
    --primary-blue: #2b7fff;
    --primary-black: #011c44;

    --grey: #4a4a4a;
    --light-grey: #747272;
    --black: #011f4a;
    --yellow: #ffd02b;

    --shadow-1: rgba(168, 198, 245, 0.62);
    --shadow-2: rgba(168, 198, 245, 0.8);
}

$display-tel: 480px;
$display-book: 768px;
$display-com: 1280px;
