.input {
    width: 310px;
    height: 52px;
    border: 2px solid var(--light-grey);
    border-radius: 32px;
    background-color: #0000;
    padding-left: 32.85px;
    color: var(--primary-white);
    @media screen and (max-width: $display-book) {
        width: 241px;
        height: 46px;
        padding-left: 24px;
    }
}

.input::placeholder {
    color: var(--primary-white);
    font-size: 13px;
    line-height: 1.15;
}

.input:hover {
    background-color: var(--light-grey);
}
